MONGODB_URI=mongodb://localhost:27017
OPENAI_API_KEY=your_openai_api_key_here
ANTHROPIC_API_KEY=your_anthropic_api_key_here
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
CHROMA_PATH=./chroma_db
USE_RERANKER=false
SECRET_KEY=changethis
ACCESS_TOKEN_EXPIRE_MINUTES=30
FIRST_SUPERUSER_EMAIL=admin@procureai.local
FIRST_SUPERUSER_PASSWORD=changethis

# Sentry
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
APP_VERSION=procureai@dev

# LangSmith
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT=procureai
